body {
	background-color: gray;
	text-align:center;
	color: black;
}

hr {
    display: block;
    height: 4px;
    border: 0;
    border-top: 4px solid white;
    margin: 1em 0;
    padding: 0;
}
p {
	font-family: monospace;
	font-size: 17px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

img {
	width: 100%;
	display: inline;
  height: 300px;
}

.body_styles {
	display: inline;
	width: 50px;

}

.car_listing {
	display: flex;
	background-color: white;
	max-height: 300px;
	margin: 20px;
}

.listing_img {
	text-align: left;
	width:60%;
}

.col_car {
	flex:1;
	text-align: left;
	vertical-align: center;
}


.col_text {
	flex:1;
	text-align: center;
	vertical-align: center;
}
 

.col_buttons {
	flex:1;
	text-align: center;
	vertical-align: center;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}

.button2 {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

.button2:hover {
    background-color: #008CBA;
    color: white;
}
